/* Reset CSS */
* {
    box-sizing: border-box;
}

/* Se ocupa con JS */
.error {
    outline: 2px solid red;
}

/* Estilos generales */
body {
    font-family     : 'Roboto', sans-serif;
    margin          : 0;
    min-height      : 100vh;
    color           : #333;
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: #f2f2f2;
    flex-direction  : column;
    padding-bottom  : 4em;
}


/* Contenedor principal */
.contenedor-principal {
    max-width       : 400px;
    max-height      : 100%;
    padding         : 1.32rem;
    background-color: #fff;
    border-radius   : 5px;
    box-shadow      : 0 0 10px rgba(0, 0, 0, 0.1);
    display         : flex;
    flex-direction  : column;
}


/* Estilos de formulario */
.container__login {
    text-align: center;
}

.container__login--form {
    text-align: left;
}

.input {
    width        : 100%;
    padding      : 10px;
    margin-bottom: 10px;
    border       : 1px solid #ccc;
    border-radius: 5px;
}

.boton {
    display         : block;
    width           : 100%;
    padding         : 10px;
    background-color: #333;
    color           : #fff;
    text-align      : center;
    text-decoration : none;
    border          : none;
    border-radius   : 5px;
    cursor          : pointer;
}

/* Estilos de redes sociales */
.container__login--redes--sociales {
    margin-top     : 20px;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: flex-end;
    gap            : 10px;
}

.container__login--redes--sociales>div {
    display        : flex;
    align-items    : center;
    justify-content: start;
    gap            : 10px;
    width          : 80%;
}

/* Estilos de pie de página */
.footer {
    position        : absolute;
    bottom          : 0;
    left            : 0;
    right           : 0;
    background-color: #333;
    color           : #fff;
    text-align      : center;
    width           : 100%;
    margin-top      : auto;
}

.lin {
    text-decoration: none;
    color          : #fff;
    margin         : 0 10px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .contenedor-principal {
        padding: 2rem;
    }

    .header__logo {
        margin: 0;
    }
}

@media (max-width: 360px) {
    body {
        padding: 0 1rem;
    }
}