*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#2490bb, #4e329a);
    font-family:'Urbanist', sans-serif;
}


.header__img{
    width: 60px;
    height: auto;
}


.container{
    padding:0 10px;
    min-height: calc(100vh - 100px);
    text-align: center;

}
.container__login{
    text-align: center;
    justify-content:center;
    color:#ffff;
    font-weight: bold;
}


.container__login--form{
    display: flex;
    flex-direction: column; 
}
.container__login--form input{
    margin-top: 20px;
    padding: 10px;
    color: #ffff;
    font-weight:bold;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(240, 237, 237);
    font-size: 16px;
    background:transparent;
}
.container__login--form input::placeholder{
    color: #f1f1f1;
}
.boton{
    margin-top: 45px;
    color: #ffff;
    padding: 10px;
    font-weight:bold;
    outline: none;
    border: none;
    border-radius: 35px;
    font-size: 16px;
    background: rgba(255,255,255,0.2);
}
.boton,a{
    text-decoration: none;
    color: #ffff;
    font-weight:bold;
}

.container__login--redes--sociales{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.container__login--redes--sociales,div{
    display:flex;
    align-items:center;
    justify-content:center;
}
.container__login--img, div{
    color: #ffff;
    padding:10px;
}


.container__login--resistro{
    color: #ffff;
}
.link__registro{
    text-decoration: none;
    color: #ffff;
    font-weight:bold;
}


.footer{
    background-color: rgb(155, 27, 240,.4);
}
.footer a{
    display: flex;
    text-decoration:none;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    color: #ffff;
}
.links{
    display: flex;
    flex-direction: column;
}


@media (min-width: 1264px){
    .container{
        position: relative;
        border:5px solid rgb(248, 247, 247);
        padding:0 70px;
        text-align: center;
        border-radius:50px;
        width: 40%;
        height:auto;
        left:31%;
    }
    .footer{
        background-color:transparent;
    }
    .footer a{
        display: inline-flex;
        flex-wrap: nowrap;
        text-decoration:none;
        text-align: center;
        justify-content:center;
        align-content: center;
        margin-top: 40px;
        color: #ffff;
        left:31%;
    }
    .links{
        display:flex;
        text-align: center;
        justify-content:center;
        margin-right: 28px;
        flex-direction:row;
    }
    .lin{
        text-align: center;
        justify-content:center;
        margin-left: 55px;
    }
    .boton,a{
        text-decoration: none;
        color: #ffff;
    }
    .container__login--redes--sociales,div{
        display:flex;
        align-items:center;
        justify-content:center;
    }
    
}